:root {
    --md-outlined-md-outlined-button-container-shape: 0px;
    --md-outlined-md-outlined-button-label-text-font: system-ui;
}

body{
    background-color: var(--md-sys-color-background);
}

.container{
    zoom: calc(5000*100%/1920);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.deviceList{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
}

.stngsButtons_cont{
    display: flex;
    flex-wrap: wrap;
}

.stngsButton{
    margin: 5px 0 5px 10px;
    width: max-content;
    height: 2em;
}

.deviceButton{
    margin: 5px;
}

.optsButton{
    display: flex;
}

.info{
    margin-left: 5px;
}